html {
  scroll-behavior: smooth;
}

.App {
  background-color: #282828;
  font-size: calc(10px + 2vmin);

  h1 {
    color: gold;
    padding-bottom: 0.1em;
  }

  h2 {
    color: snow;
  }

  p {
    color: silver;
    font-size: calc(10px + 1.5vmin);
  }
}

.Content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
