.contactLogo {
  width: calc(50px + 2vmin);
  height: calc(50px + 2vmin);
}

.contactInfo {
  margin: 2em;

  tr td {
    padding: 1em;
    color: snow;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (max-width:991px) {
  .contactInfo {
    margin: 0em;
    table-layout: fixed;
    width: 100%;

    td {
      word-wrap: break-word;
    }
  }
}
