.experienceInfo {
  margin: 2em;
  color: snow;

  &.jumbotron {
    background-color: #383838;
    border-radius: 0.5em;
  }
}

.positionTitle {
  margin-bottom: 1em;

  h2 {
    display: inline;
  }

  h3 {
    display: inline;
    margin-left: 0.5em;
    color: turquoise;
  }

  h4 {
    display: inline;
    color: darkgray;
  }

  h5 {
    display: inline;
    margin-left: 0.5em;
    color: #686868;
  }
}

@media (max-width:991px) {
  .experienceInfo {
    margin: 0em;
  }

  .positionTitle {

    h3,
    h5 {
      display: block;
      margin-left: 0em;
    }
  }
}
