.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    border-right: solid 3px snow;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-cursor 750ms steps(29, end) infinite;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      animation:
        animated-text 3s steps(29, end) 1s 1 normal both;
      animation: abomination1 3s linear 1;
      animation-fill-mode: forwards;
    }
  }

}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: snow;
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes abomination1 {
  0% {
    content: "H";
  }

  4% {
    content: "He";
  }

  8% {
    content: "Hel";
  }

  12% {
    content: "Hello";
  }

  16% {
    content: "Hello ";
  }

  20% {
    content: "Hello T";
  }

  24% {
    content: "Hello Th";
  }

  28% {
    content: "Hello The";
  }

  32% {
    content: "Hello Ther";
  }

  36% {
    content: "Hello There";
  }

  40% {
    content: "Hello There!";
  }

  44% {
    content: "Hello There! G";
  }

  48% {
    content: "Hello There! Gen";
  }

  52% {
    content: "Hello There! Gene";
  }

  56% {
    content: "Hello There! General";
  }

  60% {
    content: "Hello There! General K";
  }

  64% {
    content: "Hello There! General Ken";
  }

  68% {
    content: "Hello There! General Kenob";
  }

  72% {
    content: "Hello There! General Kenobi!";
  }

  76% {
    content: "Hello There! General Keno";
  }

  80% {
    content: "Hello There! General Ke";
  }

  84% {
    content: "Hello There! General ";
  }

  88% {
    content: "Hello There! Genera";
  }

  92% {
    content: "Hello There! Gene";
  }

  96% {
    content: "Hello There! Ge";
  }

  100% {
    content: "Hello There!";
  }
}
