.Page {
  width: 100%;
  margin: auto;
  min-height: 100vh;

  .Content {
    padding: 4vh 10vw;
  }
}

@media (max-width:991px) {
  .Page .Content {
    padding: 2vh 5vw;
  }

  br {
    display: none;
  }
}
