.cardsDeck {
  margin: 2em;
}

.projectCard {
  color: snow;

  &.card {
    background-color: #383838;
  }
}

.codeBadge {
  margin: 0.25em;
}

@media (max-width:991px) {
  .cardsDeck {
    margin: 0em;
  }
}
