.cardsDeck {
  margin-top: 1em;
  padding: 1em;
}

.projectCard {
  color: snow;

  &.card {
    background-color: #383838;
  }
}

.linkButton {
  margin: 0.25em;
}

.imgHandle {
  padding: 0.5em;
}

.codeBadge {
  margin: 0.25em;
}

.rowHandle {
  margin-bottom: 1em;
}

@media (max-width:991px) {
  .cardsDeck {
    padding: 0em;
  }

  .colHandle {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
